body {
  color: var(--vscode-editor-foreground);
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
}

:not(textarea)::selection {
  color: none;
  background: none;
}

button {
  white-space: nowrap;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border-color: var(--vscode-button-background);
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

button:disabled {
  background-color: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-secondaryForeground);
  border-color: var(--vscode-button-secondaryBackground);
}

html,
body,
#main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
