:root {
  --color0: #f8f9fa;
  --color1: #e9ecef;
  --color2: #dee2e6;
  --color3: #ced4da;
  --color4: #adb5bd;
  --color5: #6c757d;
  --color6: #495057;
  --color7: #343a40;
  --color8: #212529;
}

body {
  --loading-background: var(--color5);
  --loading-highlight: var(--color2);
  --foreground: var(--color5);
  --sound-player-inner-shadow: var(--color0);
  --sound-player-background: var(--color2);
  --sound-player-outer-shadow: var(--color3);
  --button-inner-shadow: var(--color1);
  --button-background: var(--color3);
  --button-outer-shadow: var(--color4);
  --slider-rail: var(--color0);
  --slider-track: var(--color5);
  --slider-handle: var(--color0);
  --slider-handle-border: var(--color5);
  --slider-handle-shadow: var(--color4);
}

body.vscode-dark {
  --loading-background: var(--color7);
  --loading-highlight: var(--color3);
  --foreground: var(--color7);
  --sound-player-inner-shadow: var(--color5);
  --sound-player-background: var(--color6);
  --sound-player-outer-shadow: var(--color8);
  --button-inner-shadow: var(--color4);
  --button-background: var(--color5);
  --button-outer-shadow: var(--color7);
  --slider-rail: var(--color4);
  --slider-track: var(--color7);
  --slider-handle: var(--color4);
  --slider-handle-border: var(--color7);
  --slider-handle-shadow: var(--color6);
}

body.vscode-high-contrast {
  --loading-background: var(--color8);
  --loading-highlight: var(--color0);
  --foreground: var(--color8);
  --sound-player-inner-shadow: var(--color0);
  --sound-player-background: var(--color4);
  --sound-player-outer-shadow: var(--color8);
  --button-inner-shadow: var(--color2);
  --button-background: var(--color4);
  --button-outer-shadow: var(--color6);
  --slider-rail: var(--color0);
  --slider-track: var(--color8);
  --slider-handle: var(--color0);
  --slider-handle-border: var(--color8);
  --slider-handle-shadow: var(--color7);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  width: 4.2em;
  height: 4.2em;
  border: 0;
  border-radius: 50%;
  text-align: center;
  background-color: var(--button-background);
  color: currentColor;
  transition: box-shadow 0.5s;
  box-shadow: 4px 6px 8px var(--button-outer-shadow),
    -4px -2px 8px var(--button-inner-shadow);
}

button:hover {
  box-shadow: 2px 3px 4px var(--button-outer-shadow),
    -2px -1px 4px var(--button-inner-shadow);
}

button:active {
  box-shadow: 1px 1.5px 2px var(--button-outer-shadow),
    -1px -0.5px 2px var(--button-inner-shadow);
}

#main {
  font-size: 32px;
  font-family: var(--vscode-editor-font-family);
  color: var(--foreground);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid var(--loading-background);
  border-left: 0.1em solid var(--loading-highlight);
  animation: 1s rotate infinite linear;
}

.warn {
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  border: 0.08em solid currentColor;
  line-height: 0.9em;
  vertical-align: middle;
  text-align: center;
  margin-right: 0.5em;
}

.warn:before {
  content: '!';
  font-size: 0.8em;
  font-weight: bold;
}

.play {
  width: 0;
  height: 0;
  border-left: 1.8em solid currentColor;
  border-top: 0.9em solid transparent;
  border-bottom: 0.9em solid transparent;
  margin: auto;
  transform: translateX(0.2em);
}

.pause {
  width: 1em;
  height: 1.8em;
  border-left: 0.3em solid currentColor;
  border-right: 0.3em solid currentColor;
  margin: auto;
}

.stop {
  width: 1.8em;
  height: 1.8em;
  background-color: currentColor;
  margin: auto;
}

.sound-player {
  width: 12em;
  height: 4em;
  background-color: var(--sound-player-background);
  border-radius: 2em;
  padding: 1em 1em 0em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: box-shadow 0.5s;
  box-shadow: 6px 8px 12px var(--sound-player-outer-shadow),
    -6px -4px 12px var(--sound-player-inner-shadow);
}

.sound-player:hover {
  box-shadow: 3px 4px 6px var(--sound-player-outer-shadow),
    -3px -2px 6px var(--sound-player-inner-shadow);
}

.sound-player .slider {
  width: 10em;
}

.sound-player .slider > .rail {
  background-color: var(--slider-rail);
}

.sound-player .slider > .track {
  background-color: var(--slider-track);
}

.sound-player .slider > .handle {
  transition: box-shadow 0.5s;
  background-color: var(--slider-handle);
  border-color: var(--slider-handle-border);
}

.sound-player .slider > .handle.move,
.sound-player .slider > .handle:hover {
  box-shadow: 0 0 0 1px var(--slider-handle-shadow);
}

.sound-player .controls {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
