body {
  color: var(--vscode-editor-foreground);
  font-size: 32px;
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  --loadingBgColor: grey;
}

body.vscode-dark {
  --loadingBgColor: grey;
}

body.vscode-high-contrast {
  --loadingBgColor: grey;
}

/* :not(textarea)::selection {
  background: none;
}

button {
  white-space: nowrap;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border-color: var(--vscode-button-background);
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

button:disabled {
  background-color: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-secondaryForeground);
  border-color: var(--vscode-button-secondaryBackground);
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button {
  outline: none;
}

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid var(--loadingBgColor);
  border-left: 0.1em solid currentColor;
  animation: 1s rotate infinite linear;
}

.warn {
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  border: 0.08em solid currentColor;
  line-height: 0.9em;
  vertical-align: middle;
  text-align: center;
  margin-top: 0.2em;
  margin-right: 0.5em;
}

.warn:before {
  content: '!';
  font-size: 0.8em;
  font-weight: bold;
}

.play {
  width: 0;
  height: 0;
  border-left: 1em solid currentColor;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
}

.pause {
  width: 0.6em;
  height: 1em;
  border-left: 0.2em solid currentColor;
  border-right: 0.2em solid currentColor;
}

.stop {
  width: 1em;
  height: 1em;
  background-color: currentColor;
}

/* .bar {
  display: inline-block;
  margin-left: 1em;
  width: 8em;
  height: 0.2em;
  background-color: grey;
  position: relative;
  --offset: -0.2em;
}

.bar:before {
  position: absolute;
  display: block;
  content: '';
  border: 0.1em solid black;
  width: 0.4em;
  height: 0.4em;
  border-radius: 0.4em;
  transform: translate(var(--offset), -0.2em);
} */

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
